div.mc_container{
    padding:10px 20px;
}

fieldset.mc_db_tools_pane,div.mc_db_tools_pane{
    border:2px solid black;margin:20px;padding:20px;
}

div.mc_db_tools_pane#mc_db_tools_error_pane{
    border:2px solid red;
}

fieldset#mc_table_fields table.mc_table_table td.mc_table_td{
    padding:5px 20px;
}

div#mc_main_buttons{
    padding:20px;
}

table#mc_op_counts{
    border-collapse:collapse;
    margin: 20px;
}

table#mc_op_counts, table#mc_op_counts th, table#mc_op_counts td {
    border: 2px solid black;
    background-color: #CCC;
}

table#mc_op_counts th {
    padding: 5px 25px 5px 5px;
    text-align: right;
}

table#mc_op_counts td {
    padding: 5px 5px 5px 25px;
    text-align: right;
}

table#mc_op_counts input {
    margin-left: 5px;
    margin-right: 0px;
}

button.mc-wpdbdt-btn {
    border: 2px solid gray;
    border-radius: 7px;
    padding: 3px 10px;
    margin: 20px;
}

div#mc_changes_view{
    width: 100%;
    overflow-x: auto;
}

table.ddt_x-table_changes {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 20px;
    width: 100%;
}

table.mc_table_changes th, table.mc_table_changes td {
    border: 2px solid black;
    padding: 5px;
    background-color: #CCC;
}

table.ddt_x-table_changes tr.ddt_x-changes-original td {
    background-color: #FFECEC;
}

table.ddt_x-table_changes tr.ddt_x-changes-updated td {
    background-color: #EAFFEA;
}

table.ddt_x-table_changes tr.ddt_x-changes-original td.ddt_x-field_changed {
    background-color: #F8CBCB;
}

table.ddt_x-table_changes tr.ddt_x-changes-updated td.ddt_x-field_changed {
    background-color: #A6F3A6;
}
